body {

    font-family: sans-serif;
    background-color: #56c1bd;

}

ul {

    list-style-type: none;
    list-style-image: url("../images/check.png");
    padding-left: 17px !important;
    padding-left: 0px;
    line-height: 30px;

}

.fa-solid, .fas {

    font-weight: 900;
    margin-right: 8px;

}    

#card1, #card3 {

    background-color: #FFF; 
    padding: 35px;
    margin: 30px; 
    border-radius: 10px;
}

#card2 {

    color: #FFF;
    background-color:  #5a45f2; 
    padding: 35px;
    margin: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: black; 
    border-radius: 10px;

}

.plan {

    font-size: 14px;
}

.price {

    font-size: 31px;
    font-weight: 700;}

.payment {  

    font-size: 12px;
    color: #ccc;
}

.button {

    background-color: #FFF;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    margin-top: 25px;
    padding: 5px;
    height: 18px;
}

.center {

    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.not-available {

    color: #ccc;

}


.container {

    display: flex;
    background-color: rgb(110 110 110 / 90%);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;

}

.show {

    pointer-events: auto;
    opacity: 1;
    
}

.container_div {

    background: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    text-align: center;

}

#starter-img {
    
    width: 75px;
    height: auto; 
    margin:auto;
    display: block;           
}

#pro-img {
    
    width: 164px;
    height: auto;
    margin:auto;
    display: block;                 
}

.teams-img {
    
    width: 94px;
    height: auto;
    margin-top:10px;              
}

#girl-img {

    margin-left: -40px;
    margin-right: -40px;
}

/* Form */

#email {

    padding: 10px 40px;
    text-align: center;
    border: solid #1a1a1a;
    border-width: 2px 0px 2px 2px;
   
}

input[type="submit"] {

    padding: 10px;
    background-color: #000;
    color: #fff;
    border: solid #000;

}

input[type="submit"]:hover {

    padding: 10px;
    background-color: #5a45f2;
    color: #fff;
    border: solid #000;

}


#button-starter, #button-pro, #button-teams {

    display: none; 

}

.general-starter, .general-pro, .general-teams {

    margin-top: 20px;

} 

/* tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    
#card1,#card2,#card3 {

    display: flex;

}

#starter-img {

    height: 165px;
    width: auto;
    margin: 40px;

}
    
#pro-img {
        
    height: 120px;
    width: auto;
    margin: 70px 40px 40px 20px;      
    
}
    
.teams-img {
    
    height: 110px;   
    width: auto;
    margin-top: 85px;
    z-index: 1;            
}

#girl-img {

    margin-top: 55px;
    margin-left: -80px;
    margin-right: -80px;
    z-index: 0;
}

.general-starter, .general-pro, .general-teams {

    margin-top: 0px;

} 

.general-starter {

    padding: 80px 80px 80px 70px;

}

.general-pro {

    padding: 80px 70px 80px 25px;

}    
.general-teams {

    padding: 80px 40px 80px 60px;

}

ul {

    margin-left: 5%;

}

.button {

    display: none;
    
}

#button-starter, #button-pro, #button-teams {

    display: inherit;
    min-width: 100px;

} }



/* Desktop */

    @media only screen and (min-width: 1023px) {

#main {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#card1,#card2,#card3 {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right:15px;  
}

.center {   

    height: 100px;
    width: auto;
    margin-bottom: 30px;
    
}

#button-starter, #button-pro, #button-teams {

    display: none;

}


}